* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 120px;
  background-color: #ffffff;
}

.logo img {
  width: 139px;
  height: 60px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}

.menu li a {
  color: #000000;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
}

.btn {
  color: #ffffff;
  background-color: #469165;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}

.menu li a:hover {
  color: #4caf50;
}

.btn:hover {
  background-color: #43a047;
}
