* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 120px;
  background-color: #ffffff;
}

.logo img {
  width: 139px;
  height: 60px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}

.menu li a {
  color: #000000;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
}

.btn {
  color: #ffffff;
  background-color: #469165;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}

.menu li a:hover {
  color: #4caf50;
}

.btn:hover {
  background-color: #43a047;
}

.hero {
  min-height: 674px;
  justify-content: center;
  align-items: center;
  display: flex;

  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  color: #ffffff;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: relative;
  z-index: 1;

  text-align: center;
  max-width: 800px;
  padding: 0 20px;
  margin: 114px 120px 174.47px 120px;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500px;
  color: #469165;
  background-color: #ffffff;
  border-radius: 1000px;
}

.hero-badge::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #469165;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(46, 125, 50, 0.25),
    0 0 0 5px rgba(46, 125, 50, 0.12);
}

.hero h1 {
  font-size: 72px;
  font-weight: 700px;
  line-height: 84px;
  margin-bottom: 16px;
  color: #ffffff;
}
.hero h1 span {
  display: block;
  color: #30b868;
}

.hero p {
  max-width: 700px;
  margin: 0 auto 36px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.primary-btn {
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  background-color: #469165;
  padding: 16.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.secondary-btn {
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  background: transparent;
  padding: 16.5px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ece0e0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.primary-btn:hover {
  background-color: #43a047;
}
.secondary-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.problems {
  padding: 80px 60px;
  background-color: #ffffff;
  text-align: center;
}

.problems h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  max-width: 1360px;
  margin: 0 auto 48px;
}

.cards {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 24px;
}

.problem-card {
  background-color: #ffffff;
  padding: 32px 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}
.icon-wrapper {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f95555;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.problem-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931;
}

.problem-card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
}

.solution {
  padding: 120px;
  background-color: #ffffff;
}

.solution-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
}
.solution-content {
  max-width: 700px;
}

.solution-level {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  letter-spacing: 1px;
}
.solution-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin: 16px 0;
}
.solution-text {
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.solution-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.solution-list li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #001931;
  margin-bottom: 16px;
}

.solution-list li img {
  width: 20px;
  height: 20px;
}

.cta {
  padding: 0 120px 120px;
  background-color: #ffffff;
  text-align: center;
}

.cta-container {
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 60px 40px 80px 40px;
  background-color: #f7f6f2;
}
.cta-container h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #001931;
}

.cta-container p {
  max-width: 575px;
  margin: 0 auto 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: #627382;
}

.cta-btn {
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  background-color: #469165;
  padding: 16.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.cta-btn:hover {
  background-color: #43a047;
}

.cta-note {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
